<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>349837848439-abhkm9mh69segkfvprrl5fttt7octdpk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.349837848439-abhkm9mh69segkfvprrl5fttt7octdpk</string>
	<key>API_KEY</key>
	<string>AIzaSyC8y1r_hXoQRWW9MTlGS3xkwhlx2LbT6lY</string>
	<key>GCM_SENDER_ID</key>
	<string>349837848439</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thechat</string>
	<key>PROJECT_ID</key>
	<string>thechat-f9772</string>
	<key>STORAGE_BUCKET</key>
	<string>thechat-f9772.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:349837848439:ios:392dec3b24d8a4a20e3b72</string>
	<key>DATABASE_URL</key>
	<string>https://thechat-f9772-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>